input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-list {
    background: #323232;
    width: 70vw;
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 40px;
}

.main-title {
    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
}

.main-div {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
}

.main-form {
    display: flex;
}

.main-order {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
}


.main-input {
    background: rgba(209, 209, 209, 0.693);
    border-radius: 3px;
    padding: 8px;
    border: none;
    outline: none;
    margin-right: 25px;
    max-width: 300px;
    width: 100%;
}

.main-input::placeholder {
    font-family: "Montserrat";
    font-size: 15px;
    color: black;
}

.main-btn {
    border: 2px solid #FFD700;
    border-radius: 8px;
    background: transparent;
    width: 120px;
    padding: 4px;
    color: #FFD700;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.main-btn:hover {
    background: #000;
    transform: scale(1.1);
}

.main-lists {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    position: relative;
    height: 100%;
}

.main-ul {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.main-done {
    width: 50%;
}


.main-li,
.main-lidone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
    margin-top: 20px;
}

.main-lidone {
    display: flex;
    justify-content: flex-start;
}


.main-lidone .main-name {
    text-decoration: line-through;

}


.main-li::after,
.main-lidone::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #FFD700;
}

.main-li div {
    display: flex;
    align-items: center;
}

.li-order {
    color: black;
    background: #FFD700;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.main-name {
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}

.main-close {
    transition: 300ms;
    background: red;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-close:hover {
    transform: scale(1.2);
}

.modal-question {
    color: #000;
    font-size: 25px;
    text-align: center;
}

.modal-desc {
    margin-top: 20px;
    font-size: 18px;
}

.modal-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 30px;
}

.modal-btn {
    background: transparent;
    border-radius: 6px;
    font-weight: 600;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 80px;
}

.modal-btn:nth-child(1) {
    border: 3px solid green;
    transition: 0.3s all ease;
}

.modal-btn:nth-child(1):hover {
    background: green;
    color: white;
    transform: scale(1.1);

}

.modal-btn:nth-child(2) {
    transition: 0.3s all ease;
    border: 3px solid red;
}

.modal-btn:nth-child(2):hover {
    background: red;
    color: white;
    transform: scale(1.1);

}

.main-btns {
    display: flex;
    align-items: center;
}

.main-donebtn,
.main-edit {
    background: transparent;
    outline: none;
    border: 3px solid green;
    color: white;
    font-size: 18px;
    width: 60px;
    padding: 5px;
    font-weight: 600;
    margin-right: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}

.main-donebtn:hover,
.main-edit:hover {
    transform: scale(1.1);
}

.main-edit {
    border: 3px solid #FFD700;
}





.modal-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-input {
    width: 60%;
    margin: 20px auto;
    height: 35px;
    border: 1px solid #323232;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.edit-input::placeholder {
    font-weight: 600;
    color: #00000065;
    font-family: "Montserrat";
}

.edit-save {
    border: 1px solid black;
    background: green;
    color: white;
    width: 200px;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.edit-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: red;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 100%;
    width: 2px;
    background: white;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}